{% extends 'base.html' %}

{% block titulo %}Registro |{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<br>

{% include 'parciais/_messages.html' %}
<div class="card">
    <div class="card-body">
        <h3 class="text-center">
            Login
        </h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Registrar" class="btn btn-danger">
        </form>
    </div>
</div>

<br>
{% endblock %}