{% extends 'base.html' %}

{% block titulo %}{{ movie.nome }} | Detalhes |{% endblock %}

{% block content %}

<br>
{% include 'parciais/_messages.html' %}

<div class="card">
    <div class="row">
        <div class="col-md-4 text-center" style="padding: 10px;">
            <img src="{{ movie.imagem_filme }}" alt="{{ movie.nome }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <br>
            <h3 class="text-center">{{ movie.nome }}</h3>
            <div style="padding: 10px;">
                <p>{{ movie.sinopse }}</p>
                <p class="text-center" style="font-size: 15px;">
                    <a class="dropdown-item" href="{% url 'filmes:categoria' movie.categoria_filme %}" name="buscar"
                        style="color: #909093; text-decoration: underline;">
                        {{ movie.categoria_filme }}
                    </a>
                </p>
                <h5>Diretor: <span style="font-size: 15px;">{{ movie.diretor }}</span></h5>
                <h5>Elenco: <span style="font-size: 15px;">{{ movie.elenco }}</span></h5>
                {% if media > 5 %}
                <h5>Nota: <span style="color: #0000CD;">{{ media }}</span> / 10</h5>
                {% else %}
                <h5>Nota: <span style="color: #8B0000;">{{ media }}</span> / 10</h5>
                {% endif %}
                <small>Total votos: {{ qtd_votos }}</small>

            </div>
        </div>
    </div>
</div>
<br>

<div class="card">
    <div class="card-body">
        <h3 class="text-center">Deixe aqui seu comentário e nota...</h3>
        <form action="{% url 'comentario:addComentario' movie.id  %}" method="POST">
            {% csrf_token %}
            <label for="comentario">Comentário</label>
            <textarea name="comentario" id="comentario" cols="30" rows="5" class="form-control"></textarea>

            <label for="nota" style="margin-top: 15px; margin-bottom: 15px;">Nota</label>
            <input type="range" id="rangeInput" name="nota" min="0" max="10" value="0" step="0.5"
                oninput="amount.value=rangeInput.value">
            <output name="amount" id="amount" for="rangeInput">0</output>

            <br>
            <input type="submit" class="btn btn-danger" value="Enviar">
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">

        <h3 class="text-center" style="margin-bottom: 24px; text-decoration: underline;">Comentários</h3>
        {% for comentario in comentarios %}

        <div class="card" style="background-color: #f5eeee;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="text-left">{{ comentario.user.username }}</h5>
                        <h5 class="">{{ comentario.nota }}</h5>

                        {% if request.user == comentario.user %}
                        <a href="{% url 'comentario:editComentario' movie.id comentario.id %}">
                            Edit
                        </a>
                        <a href="{% url 'comentario:deleteComentario' movie.id comentario.id %}"
                            onclick="return confirm('Tem certeza que deseja excluir este comentário ?')">
                            Delete
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <p>{{ comentario.comentario }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% endfor %}
        <div class="text-center" style="margin-bottom: 20px;">
            <a class="btn btn-secondary btn-lg btnVoltarSobre" href="/">Voltar</a>
        </div>

    </div>
</div>
<br>

{% endblock %}