{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-3">Filmes</h1>
{% if allMovies %}

{% for movie in allMovies %}
<div class="card-mb-3">
    <div class="card-body">
        <p class="lead">{{ movie.nome }}</p>

        <a href="#">
            <img class="card-img-top" src="{{ movie.imagem_filme }}" alt="{{ movie.name }}" style="width: 100px;">
        </a>

        <a href="{% url 'filmes:detail' movie.id %}" class="btn btn-primary btn-sm">Detalhes</a>

    </div>
</div>
{% endfor %}

<br>

{% include 'parciais/_pagination.html' %}

<br>

{% else %}
<p>Nenhum filme disponível.</p>

{% endif %}

{% endblock %}