{% extends 'base.html' %}

{% block titulo %}Outros Projetos |{% endblock %}

{% block content %}

<br>
<div class="card-group">
    <div class="card">
        <a href="http://quiz-django-edu.herokuapp.com"><img class="card-img-top"
                src="https://raw.githubusercontent.com/EduardoBran/Quiz-Web-Application-Py/main/screenshot/screenshot.jpg"
                alt="Imagem do projeto QuizTime"></a>
        <div class="card-body">
            <h5 class="card-title text-center">Projeto QuizTime</h5>
            <p class="card-text">Este é um projeto de um quiz interativo sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="http://quiz-django-edu.herokuapp.com">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <a href="https://sistema-enquetes.herokuapp.com/"><img class="card-img-top"
                src="https://raw.githubusercontent.com/EduardoBran/System-Voting-App-Web-Py/main/screenshot/screenshot2.jpg"
                alt="Imagem do projeto PollMaker"></a>
        <div class="card-body">
            <h5 class="card-title text-center">Projeto PollMaker</h5>
            <p class="card-text">Este é um projeto de sistema de enquetes.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://sistema-enquetes.herokuapp.com/">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <a href="https://blog.eduardomb.com.br"><img class="card-img-top"
                src="https://raw.githubusercontent.com/EduardoBran/Projeto-Blog-Web-Py/main/screenshot/screenshot.jpg"
                alt="Imagem do projeto Blog do EduAds"></a>
        <div class="card-body">
            <h5 class="card-title text-center">Projeto Blog</h5>
            <p class="card-text">Este é um projeto de um blog sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://blog.eduardomb.com.br">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <a href="https://appweatherdjango.herokuapp.com"><img class="card-img-top"
                src="https://raw.githubusercontent.com/EduardoBran/Weather-App-Web/main/screenshot/screenshot.jpg"
                alt="Imagem do projeto Blog do EduAds"></a>
        <div class="card-body">
            <h5 class="card-title text-center">Projeto AppWeather</h5>
            <p class="card-text">Este é um projeto para consultar o clima através de uma api.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://appweatherdjango.herokuapp.com">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
</div>
<br>
<div class="text-center" style="margin-bottom: 20px;">
    <a class="btn btn-secondary btnVoltarSobre" href="/">Voltar</a>
</div>
<br><br>

{% endblock %}