{% load static %}

<html lang="pt">

<head>
    
    <title>Nota Filmes</title>
    {% include 'parciais/_head.html' %}

</head>

<body>
    
    <style>
        body{
            background-color: #1C1C1C;
            {% comment %} background-image : url('https://i.postimg.cc/pryhxMLw/pijj9as3-generated.jpg'); {% endcomment %}
        }
    </style>

    {% include 'parciais/_nav.html' %}
    
    <div class ="container">
        
        {% block content %}{% endblock %}
            
    </div>

    {% include 'parciais/_footer.html' %}
</body>

</html> 